*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ /*El fondo de pantalla no cambia cuando se pasan las escenas se escoge el body como elemento general*/
    position: relative;
    min-height: 100vh; /*Se da una altura minima a trabajar dentro del body*/
    width: 100%; /*Se trabaja con todo el ancho del body*/

    display: flex; /*Esta linea se usa junto con las siguientes dos para centrar en la mitad de la pantalla los componetes hijos*/
    justify-content: center;
    align-items: center;

    background: url(../../assets/img/Fondo_Pantalla\ de\ bienvenida.png); /*Se carga la imagen de fondo en el body*/
    background-position: center; /*las tres lineas restantes ayuda a proporcionar una mejor ubicacion de la imagen*/
    background-size: cover;
    background-repeat: no-repeat;

    /*overflow: hidden;*/
}

section{ /*Se trabaja el section en la escena del landing, */
    display: flex; /*Esta linea se usa junto con las siguientes dos para centrar en la mitad de la pantalla los componetes hijos*/
    justify-content: center;
    align-items: center;
    flex-direction: column; /*Coloca lo componentes hijos uno debajo de otro*/
}

main{ /*Se trabaja el main en la escena de los usuarios, */
    position: relative;
    width: 1100px; /*Se da un ancho total en pixeles*/

    display: flex; /*Esta linea se usa junto con las siguientes dos para centrar en la mitad de la pantalla los componetes hijos*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /*Los elementos hijos que quedan uno encima de otro y no caben a lo ancho, los baja creando otra fila*/

    padding: 50px 0 30px; /*Espaciado interno del main*/
}


/************************************/
/********** Media Queries ***********/
/************************************/
@media screen and (max-width:800px){
    main{
        display: grid;
    }
}